[user]
	name = badjer
	email = brian.dejong@gmail.com
[merge]
	tool = kdiff3
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[diff]
	tool = kdiff3
  guitool = kdiff3
[difftool]
	prompt = false
